# PyCharm stuff
.idea/
*.iml
*.iws

# Django stuff
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# keys
app/sendgrid.env
app/client_id.json

# temporary
*~
