{% extends 'base.html' %}

{% block content %}
    <div class="centred-container">
        <div class="questions-list" id="app">
            <ul class="list-group">
                <li v-for="answer in answers">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">[[ findQuestion(answer.question_id).title ]]</h4>
                            <div class="importance">
                                <span class="priority-label">Weight</span>
                                <div class="input-group">
                                    <span class="input-group-addon">1</span>
                                    <input type="number" class="form-control importance-value ranged-value" min="1"
                                           max="10" v-model="answer.weight">
                                    <span class="input-group-addon">10</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <p class="card-text"> [[ findQuestion(answer.question_id).description ]]</p>
                            <ul class="list-inline list-group-horizontal">
                                <li class="list-group-item" v-for="option in answer.options">
                                    <div class="option">
                                        <label>[[ findOption(option.option_id).title ]]</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">1</span>
                                            <input type="number" class="form-control ranged-value" min="1" max="10"
                                                   v-model="option.score" >
                                            <span class="input-group-addon">10</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <button type="button" class="btn" id="submit-survey-btn" v-on:click="submitResults">Submit results
                </button>
            </div>
        </div>
    </div>
{% endblock %}

