{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ static("js/setup_page.js")}}" defer
            xmlns="http://www.w3.org/1999/html"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.js"
            integrity="sha256-mBbnx2M+MwM/FlIODLLemky0H4LDQRhY0n0zHWQSizE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs-rtl.css"
          integrity="sha256-9WIGoAIrIn2mbz7qN3Vv4xA5dtLGQSwcDbTTvTxSKl4=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.css"
          integrity="sha256-NMU2GoYB9Aw+Vdu1k4sbT/+wEpcLh1sJU7n3ONeb1p4=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ static("css/setup.css")}}">


{% endblock %}

{% block content %}
    <div class="centred-container">
        <div class="questions-list" id="setup">
            <div class="list-group">
                <div class="question-content">
                    <div class="tips">Please give a title to the decision. It should have the form of a question.</div>
                    <input class="question-block" data-step="1"
                           data-intro="Welcome! You are on your way to setting up decision for your team to make. Please enter the question you want to answer."
                           v-model="question">
                    <hr>
                    <div class="tips">Please describe the decision in the field below. Give context to make everyone understand the question.</div>
                    <input class="question-description-block" data-step="2"
                           data-intro="Please enter description of the question you want to answer."
                           v-model="questionDescription">
                </div>
                <div class="setup-categories">
                    <div class="criteria-setup" data-step="3"
                         data-intro="Please set up criteria. Following information is needed: title, description and weight of criterion between 1 and 10.
                         Your team's entries will be multiplied with the weight. A higher weight gives more importance to the criterion
                         After entering click on '+' button to add criterion to decision settings"
                    >Criteria setup
                        <div class="tips setup">Please enter, one at a time, the criteria along which the decision should be evaluated. Add a description and a weight between 1 and 10. Higher weights make the criterion more important.Click "+" to add the criterion.</div>
                        <div class="criteria">
                            <div class="input-group">
                                <input type="text" class="form-control criteria-title"
                                       v-model="currentCriterion.title"
                                       placeholder="Criterion title">
                                <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="button"
                                                v-on:click="addCriterion">+</button>
                                    </span>
                            </div>
                            <div>
                                <input type="text" class="form-control criteria-description"
                                       v-model="currentCriterion.description" placeholder="Criterion description">
                                <div class="criteria-weight input-group">
                                    <span class="input-group-addon">1</span>
                                    <input type="number" class="form-control ranged-value" min="1" max="10"
                                           placeholder="weight" v-model="currentCriterion.weight">
                                    <span class="input-group-addon">10</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="option-setup"
                         data-step="4"
                         data-intro="Please set up options. Title of option is needed. After entering click on '+' button to add the option to decision settings"
                    >Options setup
                        <div class="tips setup">Please enter, one at a time, the options among which you want to choose. Click "+" to add the option.</div>
                        <div class="input-group option">
                            <input type="text" class="form-control option-title"
                                   placeholder="Option title" v-model="currentAlternative.title">
                            <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"
                                            v-on:click="addAlternative">+</button>
                                </span>
                        </div>
                    </div>
                    <div class="users-setup"
                         data-step="5"
                         data-intro="Please add all team members. We need emails in oder to send them invitations.
                         After entering click on '+' button to add the user to decision settings.
                         If you want to take part in the decision yourself, don't forget to enter your own email address as well."
                    >Users setup
                        <div class="tips setup">Please enter, one at a time, e-mail addresses of the participants you want to invite to the decision. Click "+" to add the e-mail address.</div>
                        <div class="input-group users">
                            <input type="email" class="form-control users-title"
                                   placeholder="User's email" v-model="currentUser.email">
                            <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" v-on:click="addUser"
                                    >+</button>
                                </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="setup-block">
                    <div>
                        <div class="criteria-setup">
                            <div class="tips" v-if="criterionPresent()">If you want to remove a criterion, press "-".</div>
                            <div class="tips" v-else>Please enter at least one criterion and press "+".</div>
                            <div v-for="criterion in criteria">
{#                                <div class="criteria criteria-added">#}
{#                                    <div class="input-group criteria criteria-added">#}
{##}
{#                                        <input type="text" class="form-control criteria-title"#}
{#                                               v-bind:value="criterion.title"#}
{#                                               readonly="readonly">#}
{#                                        <span class="input-group-btn">#}
{#                                    <button class="btn btn-secondary" type="button"#}
{#                                            v-on:click="removeCriterion(criterion)">-</button>#}
{#                                        </span>#}
{##}
{#                                    </div>#}
{#                                    <div class="description-and-weight">#}
{#                                        <div>#}
{#                                            <i>[[criterion.description]]</i>#}
{#                                        </div>#}
{#                                        <span><i>[[criterion.weight]]</i></span>#}
{#                                    </div>#}
{#                                </div>#}
                                
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="option-setup">
                            <div class="tips" v-if="optionPresent()">If you want to remove an option, press "-".</div>
                            <div class="tips" v-else>Please enter at least one option and press "+".</div>
                            <div v-for="(alternative, index) in alternatives">
                                <div class="input-group option option-added">
                                    <input type="text" class="form-control option-title"
                                           v-model="alternative.title" readonly="readonly">
                                    <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"
                                            v-on:click="removeAlternative(index)">-</button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="users-setup">
                            <div class="tips" v-if="userPresent()"> If you want to remove a user, press "-".</div>
                            <div class="tips" v-else>Please enter at least one user email and press "+".</div>
                            <div v-for="(user, index) in users">
                                <div class="input-group users user-added">
                                    <input type="text" class="form-control users-title"
                                           v-model="user.email" readonly="readonly">
                                    <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"
                                            v-on:click="removeUser(index)">-</button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button type="button" class="btn" id="submit-survey-btn" v-on:click="submit"
                        data-step="6"
                        data-intro="Click on this button to finish with decision settings and send invitations to all team members"
                > Submit question to team
                </button>
            </div>
        </div>

    </div>



{% endblock %}
