/**/
/**/
/*COMMON*/
/**/
/**/

body {
    background-color: rgb(46, 56, 64);
    padding-bottom: 60px;
}

#header-div {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 40pt;
    color: aliceblue;
    padding-top: 10px;
}

#social-networks {
    margin-top: 20px;
    float: right;
}

.centred-container, header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions-list, #header-div {
    padding-top: 30px;
    min-width: 80%;
    max-width: 80%;
}


#social-networks .fa {
    font-size: 30px;
    width: 50px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 5px;
    /*background-color: rgb(0, 128, 128);*/
    color: white;
    padding: 4px
}

.fa:hover {
    opacity: 0.7;
}

footer {
    margin: 10px auto 0 auto;
    height: 60px;
    text-align: center;
    bottom:0;
    position: fixed;
    background-color: rgb(46, 56, 64);
    border-top: solid rgb(0, 128, 128);
    left: 0;
    right: 0;
}

.fa-user {
    border-radius: 50%;
    color: rgb(0, 128, 128);
    background-color: aliceblue;
    font-size: larger;
    padding: 5px;
    width: 30px;
    height: 30px;
}

#team-members{
    margin-top: 15px;
    display: flex;
}

.team-member{
    flex: 1;
    color: aliceblue;
    font-size: 15px;
}

.team-member >label {
    margin-left: 10px;
}

.ranged-value{
    z-index: 0 !important;
}
.option>div>span, .importance>div>span{
    border-color: aliceblue;
}
/**/
/**/
/*RESULT PAGE*/
/**/
/**/
#survey-result-container {
    margin-top: 140px;
    max-width: 80%;
    min-width: 80%;
    display: none;
}

#final-result{
    margin-top: 140px;
    max-width: 80%;
    min-width: 80%;
}

#result-block {
    display: flex;
    align-items: center;
}

#result-block > div {
    flex: 1;
}

#result-block > div:first-child {
    border-right: 2px white solid;
}

#right-option-content, #left-option-content {
    max-width: 90%;
    min-width: 90%;
    margin-top: 15px;
}

#right-option-content {
    float: right;
}

#left-option-content {
    float: left;
}

.option-text {
    border-radius: 10px;
    border: 2px white solid;
    color: aliceblue;
    font-size: 20pt;
}

.option-text > p {
    margin: 20px;
}

#result-question {
    border-radius: 15px;
    border: 2px white solid;
    color: aliceblue;
    font-size: 25pt;
    text-align: center;
    margin-bottom: 20px;
}

#result-question > p {
    max-width: 80%;
    min-width: 80%;
    margin: auto;
}

#final-result-question {
    border-radius: 15px;
    border: 1px white solid;
    color: aliceblue;
    font-size: 25pt;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#final-result-question > p {
    max-width: 80%;
    min-width: 80%;
    margin: auto;
}

#final-result-value{
    margin: auto;
    color: aliceblue;
    font-size: 25pt;
    text-align: center;
}
#final-result img{
    display: block;
margin-left: auto;
margin-right: auto
}

#predefined-weight-result-btn, #mean-weight-result-btn {
    width: 100%;
    color: aliceblue;
    font-size: 20pt;
    margin-top: 20px;
    padding: 5%;
    border-radius: 15px;
}

#predefined-weight-result-btn {
    background-color: rgb(0, 128, 128);
}

#mean-weight-result-btn {
    background-color: lightgrey;
}
.preload{
    position: fixed;
    top: 50%;
}
.preload img{
    width: 90px;
    height: 90px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}
#waiting{
    color: aliceblue;
    font-size: 20pt;
    margin-top: 20px;
}

/**/
/**/
/*SURVEY PAGE*/
/**/
/**/

.card {
    width: 100%;
    background-color: rgb(0, 128, 128);
    border-radius: 0 ;
    margin-top: 20px;
}

.card-block {
    background-color: rgb(46, 56, 64);
    color: white;
}

.card-header {
    background-color: rgb(0, 128, 128);
    color: white;
}

.option, .card-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.option label {
    white-space: nowrap;
    margin-bottom: auto;
    margin-top: auto;
}

.input-group {
    max-width: 140px;
    min-width: 140px;
    background-color: white;
    border-radius: 4px;
}

.list-group-horizontal {
    display: inline-flex;
    width: 100%;
}

.list-group-horizontal .list-group-item {
    flex: 1;
    background-color: rgb(46, 56, 64);
    color: white;
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
    border-color: rgba(230, 230, 250, 0.2);
}

.importance {
    display: inline-flex;
    margin-right: 21px;
}

.priority-label {
    white-space: nowrap;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 15px;
    font-size: 15pt;
}

#submit-survey-btn {
    background-color: rgb(0, 128, 128);
    border-radius: 5px;
    color: white;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    height: 40px;
    font-size: 15pt;
}