.question-content {
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}

.question-content hr{
    margin: 0;
}

.question-block {
    background-color: transparent;
    min-height: 60px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 10px;
    border-style: none;
    font-size: x-large;
}

.question-description-block {
    background-color: transparent;
    min-height: 40px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 5px;
    border-style: none;
}

input:focus {
    outline: none !important;
}

.setup-block {
    display: flex;
    align-items: center;
}

.setup-block > div {
    flex: 1;
    margin-bottom: auto;
}

.setup-categories {
    display: flex;
}

.setup-categories > div {
    color: aliceblue;
    text-align: center;
    flex: 1;
}

.criteria-setup, .option-setup, .users-setup {
    padding: 20px;
    width: 100%;
}

.criteria, .criteria .input-group, .option, .users {
    min-width: 100%;
    min-height: 50px;
    background-color: transparent !important;
    margin-top: 15px;
    z-index: 0;
}

.criteria *, .criteria button, .option *, .users * {
    border-color: rgb(0, 128, 128) !important;
}

.criteria *, .option *, .users * {
    color: aliceblue !important;
    z-index: 0 !important;
}

.criteria span, .option > span, .users > span {
    width: 45px !important;
}

.criteria-description {
    width: 100% !important;
    margin-top: 15px;
    height: 50px;
}

.criteria input, .option input, .users input {
    background-color: transparent !important;
}

.criteria:not(.criteria-added) button, .option:not(.option-added) button, .users:not(.user-added) button {
    background-color: rgb(0, 128, 128) !important;
}

.criteria-weight span {
    background-color: rgb(0, 128, 128) !important;
}

.criteria, .option, .user {
    margin-bottom: 25px;
}

.criteria-added button, .option-added button, .user-added button {
    background-color: #8a3e3b !important;
}

.ranged-value {
    width: initial !important;
    text-align: center;
}

hr {
    background-color: white;
}

.description-and-weight {
    margin-bottom: 20px;
}

.description-and-weight span {
    min-width: 40px;
    max-width: 40px;
    color: gray;
    float: right;
}

.description-and-weight div {
    width: calc(100% - 40px);
    display: inline-block;
}

.introjs-helperLayer {
    opacity: 0.6;
}
.tips{
    color: gray !important;
    width: 100%;
    text-align: center;
    font-size: small;
}
.tips.setup {
    min-height: 80px;
    max-height: 80px;
    margin: 0;
}

.tips.list{
    min-height: 30px;
    max-height: 30px;
    margin: 0;
}